:root {
  --font-color: #545454;
  --font-26px: 26px;
  --font-24px: 24px;
  --font-20px: 20px;
  --font-16px: 16px;
  --line-color: #acacac;
  --dark-color: #333333;
  --user-comment-bgcolor: #e0e0e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

span {
  color: var(--font-color);
}

.container {
  width: 720px;
  height: auto;
  margin: 0 auto;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
  overflow: hidden;
}

.ex {
  margin: 20px 32px 43px;
}

.chatGroup {
  display: flex;
  margin: 0 32px 18px;
  height: 109px;
}

.user {
  margin-right: 20px;
}

.user-img {
  width: 92px;
  height: 92px;
}

.user-info {
  width: 546px;
  height: 109px;
  border-bottom: 1px solid #acacac;
}

.name-time {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.name {
  font-size: var(--font-26px);
}

.time {
  font-size: var(--font-20px);
}

.comment {
  font-size: var(--font-20px);
  margin-top: 5px;
}

.chatGroup-last {
  display: flex;
  margin: 0 32px 119px;
  height: 109px;
}

/* Chating.html css 모음 */
.top-info {
  padding: 20px 32px 20px;
  display: flex;
}

.img-size {
  width: 136px;
  height: 124px;
  margin-right: 13px;
  object-fit: cover;
}

.title-user {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

.title-name {
  font-size: var(--font-26px);
  color: var(--dark-color);
}

.title-name .limit {
  color: var(--selected-color);
}

.title-user-name {
  font-size: var(--font-20px);
  color: #818181;
}

.buttons {
  display: flex;
  padding: 0 32px 10px;
  border-bottom: 1px solid #acacac;
}

.more-info {
  width: 320px;
  height: 52px;
  background-color: #eae6e6;
  border-radius: 10px;
  text-align: center;
  padding-top: 7px;
}

.more-info span {
  font-size: 23px;
  color: var(--dark-color);
}

.chating-user {
  width: 320px;
  height: 52px;
  background-color: #eae6e6;
  border-radius: 10px;
  text-align: center;
  padding-top: 7px;
  margin-left: 20px;
}

.chating-user span {
  font-size: 23px;
  color: var(--dark-color);
}

.date {
  display: flex;
  padding: 0 32px 0;
  height: 72px;
}

.line {
  width: 256px;
  height: 40px;
  border-bottom: 1px solid #acacac;
}

.date span {
  display: block;
  margin: 27px 13px 0;
  color: var(--line-color);
  font-size: var(--font-16px);
}

.my-chat {
  display: flex;
  justify-content: flex-end;
  padding: 0 32px 50px;
}

.my-chat-last {
  display: flex;
  justify-content: flex-end;
  padding: 0 32px;
}

.chat-time {
  display: block;
  margin: 32px 5px 0;
  color: var(--line-color);
  font-size: var(--font-16px);
}

.my-chat-comment {
  height: 54px;
  border-radius: 30px;
  text-align: center;
  background-color: var(--selected-color);
}

.my-chat-comment.my-width1 {
  width: 394px;
}

.my-chat-comment.my-width2 {
  width: 274px;
}

.my-chat-font {
  display: block;
  padding-top: 7px;
  color: #f1f1f1;
  font-size: var(--font-24px);
}

.user-chat {
  display: flex;
  padding: 0 32px 50px;
  align-items: center;
}

.user-non-img {
  width: 66px;
  height: 66px;
  margin-right: 20px;
}

.user-chat-comment {
  height: 54px;
  border-radius: 30px;
  text-align: center;
  background-color: var(--user-comment-bgcolor);
}

.user-chat-comment.user-width1 {
  width: 190px;
}

.user-chat-comment.user-width2 {
  width: 228px;
}

.user-chat-font {
  display: block;
  padding-top: 7px;
  font-size: var(--font-24px);
}

.send-message-bar {
  display: flex;
  height: 82px;
  background-color: #e0e0e0;
  margin-top: 513px;
  padding: 0 32px;
}

.plus {
  display: block;
  margin-top: 25px;
  margin-right: 10px;
  width: 29px;
  height: 29px;
}

.input-text {
  width: 574px;
  height: 60px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #fff;
}

.input-text span {
  display: block;
  margin-top: 9px;
  margin-left: 28px;
  font-size: var(--font-26px);
}

.send {
  display: block;
  margin-top: 23px;
  margin-left: 10px;
  width: 39px;
  height: 35px;
}
