:root {
  --selected-color: #ea5936;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  padding: 0;
}

/* Top Toolbar */
.top-toolbar {
  padding: 32px 32px;
  height: 112px;
  display: flex;
  border-bottom: 1px solid #acacac;
}

.top-toolbar span {
  display: block;
  width: 500px;
  margin-top: -6px;
  margin-left: 64px;
  font-size: 36px;
}

.top-toolbar .back-title {
  display: block;
  width: 500px;
  margin-top: -11px;
  margin-left: 64px;
  font-size: 36px;
}

.menu {
  width: 48px;
  height: 44px;
}

.back {
  width: 20px;
  height: 36px;
}

.search {
  width: 47px;
  height: 45px;
}

.logo {
  width: 564px;
}
.logo-icon {
  margin-top: -13px;
  margin-left: 175px;
  height: 80px;
}

span.finish {
  width: 60px;
  font-size: 30px;
  color: #acacac;
  margin-left: 0;
  margin-top: 1px;
}

/* Bottom Toolbar */
.bottom-toolbar {
  display: flex;
  justify-content: space-between;
  width: 720px;
  height: 110px;
  padding: 0 32px;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin: 0 auto;
}

.home {
  padding-top: 10px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}

.home-img {
  width: 51px;
  height: 51px;
}

.home-title {
  margin-top: 17px;
  margin-left: 16px;
}

.recipe {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.recipe-img {
  width: 51px;
  height: 51px;
}

.recipe-icon-title {
  margin-top: 17px;
  margin-left: 5px;
}

.recipe-icon-title.selected {
  margin-top: 21px;
}

.egg-img {
  margin-top: -40px;
  width: 142px;
  height: 140px;
}

.chat {
  display: flex;
  flex-direction: column;
}

.chat-img {
  margin-top: 14px;
  width: 61px;
  height: 46px;
}

.chat-title {
  margin-top: 17px;
  margin-left: 13px;
}

.chat-title.selected {
  margin-top: 21px;
}

.mypage {
  display: flex;
  flex-direction: column;
}

.mypage-img {
  float: right;
  margin-top: 16px;
  margin-left: 13px;
  width: 45px;
  height: 45px;
}

.mypage-title {
  margin-top: 21px;
  margin-right: -8px;
}

.selected {
  color: var(--selected-color);
}
